body{
background-color:  #E6F4F4;
font-family: 'Courier New', Courier, monospace;
text-align: center;

}

h2{
    margin-top: 60px;
    margin-bottom: 60px;
    color:  #145A5A;
}

input{
    font-size: 16px;
    border: 1px solid #B0D4D4cc;
    width: 400px;
    height: 20px;
}

button#submit-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    color:white;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color:#1B9C9C;
    cursor: pointer;
}

button#submit-button:hover{
    background-color: #147373;
}

ul#task-list {
  list-style-type: none; 
  margin-top: 20px;      
  max-width: 400px;      
  margin-left: auto;    
  margin-right: auto;    
}

li {
  background-color: white;      
  margin-bottom: 10px;         
  padding: 10px 15px;           
  border-radius: 8px;          
  display: flex;                 
  justify-content: space-between; 
  align-items: center;          
  box-shadow: 0 4px 6px rgba(0,0,0,0.08); 
  
}

li button {
    color:white;
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #1B9C9C;
    cursor: pointer;
}

li button:hover {
   background-color: #147373;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
